@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --text: #ffdf87;
  --bg: #282828;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}
h3 {
  margin: 0;
}
h1 {
  text-align: center;
  margin: 0;
}

a {
  color: var(--text);
}

button {
  transition: 0.15s all;
}

button:not(:disabled):hover {
  scale: 1.04;
  /* filter: brightness(0.85); */
}
