:root {
  --text: #ffdf87;
  --bg: #282828;
}

body {
  background-color: var(--bg);
  color: var(--text);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}
h3 {
  margin: 0;
}
h1 {
  text-align: center;
  margin: 0;
}

a {
  color: var(--text);
}
