.computer,
.you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.computer h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.computer-weapons {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

.computer-weapons-pair {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.my-weapons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.my-weapon-button {
  border: 1px solid var(--text);
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--text);
}
.my-weapon-button p {
  margin: 0;
}

#fight {
  border: 0;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  background-color: var(--text);
  color: var(--bg);
}

/* Hover and Disabled Effects */

.my-weapon-button:not(.selected):not(:active):hover {
  background-color: color-mix(in srgb, var(--text) 10%, transparent);
}
.my-weapon-button:active,
.my-weapon-button.selected {
  background-color: color-mix(in srgb, var(--text) 20%, transparent);
}

.number-selector:disabled,
.pile-wrapper.disabled,
.reset:disabled,
.take:disabled,
#fight:disabled {
  opacity: 0.3;
}

.arena {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.3rem;
}

#computer-slot,
#my-slot {
  width: 6rem;
  height: 8rem;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Computer spinning animation */
body {
  min-height: 500vh;
}

.cube-wrap {
  --size: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;
}
.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  animation: cube 1s linear;
}
@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(0deg) rotateY(0deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: var(--bg);
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  transform: translateY(calc(var(--size) * -0.25)) rotateX(-60deg)
    rotateZ(180deg);
}
.front {
  transform: translateZ(calc(var(--size) * 0.433));
}
.bottom {
  transform: translateY(calc(var(--size) * 0.25)) rotateX(60deg) rotateZ(180deg);
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
